* {
    margin: 0;
}

.all,
.box1 {
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.box1 {
    margin-left: 300px;
}

.box1 p {
    margin: 0px 10px;
}

.box0 {
    margin: 0px 50px;
}

.yak1 {
    background-image: url(./01.png);
    width: 100%;
    height: 500px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boxyuk1 {
    padding: 130px;
    color: aliceblue;
    text-align: center;

}

.boxyuk1 h1 {
    font-size: 50px;
}

.boxyuk1 p {
    margin: 10px 0px;
}

.boxyuk1 button {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.b1 {
    background-color: #FB8500;
    color: aliceblue;


}

.b2 {
    background-color: #ffffff;
    color: #FB8500;

}

.ha3 {
    text-align: center;
    color: rgb(43, 128, 226);
    margin-top: 40px;
}

.ha0 {
    text-align: center;
}

.ha1 {
    font-size: 50px;
    margin: 10px 0px;
}

.du2 {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.boxdu2 {
    text-align: center;
    width: 25%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px rgb(193, 193, 193);

}

.boxdu2 p {
    margin: 10px 0px;
}

.ce {
    background-color: rgba(0, 255, 255, 0.765);
}

.se3 {
    margin-top: 30px;
    background-image: url(./img/image.png);
    width: 100%;
    color: #ffffff;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.b1 {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.char1 {
    text-align: center;
    margin-top: 20px;
}

.box41 {
    display: flex;
    width: 70%;
    margin-left: 15%;
}

.box42 {
    margin-top: 30px;
}

.panj5,
.haft7 {
    background-image: url(./img/bf8a40060807c258cf8e59f06ca2bac424b8729c.jpg);
    width: 100%;
    height: 800px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    color: #ffffff;
}

.char1 {
    padding-top: 30px;
}

.char1 p {
    color: blueviolet;
}

.chap0 {
    display: flex;
    justify-content: center;
}

.boxpanj5 {
    width: 25%;
    text-align: center;
}

.cha6 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box61,
.box62,
.box63 {
    display: flex;
    background-image: url(./img/43db88e72d9e1d6654b0f29ed569c8b5e8755c40.jpg);
    width: 20%;
    height: 300px;
    background-size: cover;
    background-position: center;
    align-items: end;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    justify-content: center;

}

.haw1 {
    font-size: 50px;
}

.paw1 {
    font-size: 15px;
    color: black;
}

.box62 {
    background-image: url(./img/6864323b293b2779715361b1e6db6a20602d46b7.jpg);
}

.box63 {
    background-image: url(./img/bf042bf485930d7575a01bf84bd549899349ba1f.jpg);
}

.haft7 {
    background-image: url(./img/01fa1a4147a033c00196c7d2c2877b9512e67509.jpg);
    height: 350px;
}

.box71 {
    text-align: center;
    margin-top: 50px;
    padding: 60px 0px;
}

.box71 h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.img1 img {
    width: 16%;
    height: 120px;

}

.img1 {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.hae1 {
    text-align: center;
    margin: 15px 0px;
}

.hasht8 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.box81 {
    width: 23%;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 20px rgb(205, 205, 205);
}

.box81 img {
    width: 50px;
    border-radius: 50%;

}

.box81 h3 {
    margin: 20px 0px;

}

@media (max-width: 700px) {

    .all,
    .box1 {
        justify-content: space-between;
        padding: 10px;
    }

    .box1 {
        display: none;
    }

    .boxyuk1 {
        padding: 10px;
        padding-top: 100px;
    }

    .du2 {
        display: block;

    }

    .boxdu2 {
        text-align: center;
        width: 85%;
        margin-top: 20px;
        margin: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgb(193, 193, 193);

    }

    .se3 {
        height: 500px;
    }

    .box41 {
        width: 95%;
        margin-left: 1%;
    }

    .chap01 {
        display: none;
    }

    .chap02 {
        display: none;
    }

    .cha6 {
        display: none;
    }

    .panj5 {
        height: 500px;
    }

    .cha6 {
        display: block;
        width: 100%;
    }

    .box61,
    .box62,
    .box63 {
        width: 95%;
        margin: 10px;

    }

    .box61 h3,
    .box62 h3,
    .box63 h3 {
        font-size: 30px;
    }

    .boxpanj5 {
        width: 100%;
    }

    .img1 img {
        width: 20%;

    }
.hasht8{
    display: block;
}
.box81 {
    width: 83%;
    margin: auto;
    margin-top: 20px;
}
}